*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  padding: 10px;
}
.row{
  margin-bottom: 10px;
}
.ul-img{
  list-style: none;
  text-align: center;
}
li{
  display: inline-block;
  position: relative;
  height: 20%;
  width: 20%;
  margin-left: 10px;
}
.discount{
  position: absolute;
  top: 0;
  right: 0;
  background: green;
}
li:nth-child(even) .discount{
  background: red;
}
.heart{
  position: absolute;
  bottom: 5px;
  color: red;
  width: 100%;
  text-align: center;
  font-size: 40px;
  display: none;
}
li:hover .heart{
  display: block;
  cursor: pointer;
}
